<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trekkie For Techy</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Public+Sans:300i,300,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div>
            <header class="container flex-row justify-space-between align-center py-3 ">
                <h1 class="page-title py-2 px-3">
                    <a class="text-dark" href="/">Trekkie For Techy</a>
                </h1>
                <nav class="flex-row">
                    {{#if loggedIn}}
                    <a class="btn log" href="/dashboard">dashboard</a>
                    <button id="logout" class="btn">logout</button>
                    {{else}}
                    <a class="btn log" href="/login">login</a>
                    {{/if}}
                </nav>
            </header>
            <main class="container my-5">
                {{{ body }}}
            </main>
            <footer class="container text-center py-3">
                Thanks for visiting!
            </footer>
        </div>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
    </body>

</html>